<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1">
    <meta name="x-apple-disable-message-reformatting">
    <title></title>

    <!--[if mso]>
    <noscript>
        <xml>
            <o:OfficeDocumentSettings>
                <o:PixelsPerInch>96</o:PixelsPerInch>
            </o:OfficeDocumentSettings>
        </xml>
    </noscript><![endif]-->
</head>

<body>
Hey {{ name }},<br><br>

Your MSF Certification is going to expire in {{ months }} month(s) on {{ date }}<br><br>

Please make sure you log in to <a href="https://retsorg.org">https://retsorg.org</a> and self-update. Once completed,
please email a copy of your recertification to
<a href="mailto:sammie@bikertraining.com">sammie@bikertraining.com</a><br><br>

Thank you!<br>
~ Sammie
</body>
</html>