<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1">
    <meta name="x-apple-disable-message-reformatting">
    <title></title>

    <!--[if mso]>
    <noscript>
        <xml>
            <o:OfficeDocumentSettings>
                <o:PixelsPerInch>96</o:PixelsPerInch>
            </o:OfficeDocumentSettings>
        </xml>
    </noscript><![endif]-->
</head>

<body>
Hey {{ name }},<br><br>

Your MSF Certification has expired.<br><br>

This is a very sad day... I hope you decide to continue coaching and if there is anything I can do to help please reach
out.<br><br>

Thank you!<br> ~ Sammie
</body>
</html>